<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>20280376701-rml6ogdoj47vlkfhm2947onfmahbmbrt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.20280376701-rml6ogdoj47vlkfhm2947onfmahbmbrt</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>20280376701-pqmaasnpb1tdmke2ujpv4j853j14n68o.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCkVYwYDomCY0k-GVB-RUZut0jI9R-xX8Q</string>
	<key>GCM_SENDER_ID</key>
	<string>20280376701</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.yolo</string>
	<key>PROJECT_ID</key>
	<string>yolo-eb64a</string>
	<key>STORAGE_BUCKET</key>
	<string>yolo-eb64a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:20280376701:ios:e00217e3b35f070825a014</string>
	<key>DATABASE_URL</key>
	<string>https://yolo-eb64a-default-rtdb.firebaseio.com</string>
</dict>
</plist>